@model IEnumerable<OpsMax.Models.Load>

<h2>Loads</h2>

<a asp-action="Create" class="btn btn-success">New Load</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Supplier</th>
            <th>Stock</th>
            <th>Truck</th>
            <th>Driver</th>
            <th>Quantity</th>
            <th>Status</th>
            <th>Load Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DCLink</td>
                <td>@item.StockLink</td>
                <td>@item.idTruck</td>
                <td>@item.idDriver</td>
                <td>@item.LoadedQuantity</td>
                <td>@item.Status</td>
                <td>@item.LoadDate</td>
            </tr>
        }
    </tbody>
</table>
